/* By defalt this is a mobile breakpoint */

.container {
    margin-bottom: 6em;
}

.title {
    letter-spacing: -0.025em;
    font-weight: 800;
    color: var(--text-black);

    font-size: 3rem; /* 48px */
    line-height: 1;
}

.titlewhite {
    color: white;
}

.subTitle {
    margin-top: 0.75rem;
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 33px */

    color: var(--text-white-100);
}

.buttonWrapper {
    margin-top: 1.25rem;
}

.button {
    background-color: var(--text-vanilla);
    cursor: pointer;
    color: var(--text-black);
    outline: 0;
    border: 0px;
    border-radius: 4px;

    padding-block: 1rem 1rem; /* 16px */
    font-size: 1.125rem;  /* 18px */
    line-height: 1.75rem;  /* 28px */
    padding-left: 2.5rem;  /* 40px */
    padding-right: 2.5rem;  /* 40px */
}

.button:hover { 
    background-color: var(--text-gold);
    transition: 300ms;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.373);
}

/**
    Breakpoints:
    --------------
    sm: min-width :640px; //small device
    md: min-width: 768px; //medium device
    lg: min-width: 1024px; //large device
    xl: min-width: 1280px; extra large device
    2xl: min-width: 1536px; //2 x extra large device
**/